<div class="container__login">
  <div class="container__login--img">
    <img src="../../../../assets/login/login--descktop.jpeg" alt="imagens da tela de login" />
  </div>

  <div class="container__login--form">
    <div class="container__login--link">
      <p>Do you dont't have account?</p>
      <a href="#">Register now</a>
    </div>
    <div class="container__login--logo">
      <img src="../../../../assets/logos/2btrust-dark-logo.png" alt="logo da 2btrust" />
    </div>
    <div class="container__login--formulario">
      <p class="login--p">Acesse sua conta na 2B.</p>

      <form class="login--form">
        <mat-form-field  appearance="fill">
          <mat-label>Login</mat-label>
          <input class="input--log" matInput />
        </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="fill">
          <mat-label class="mat--label">Senha</mat-label>
          <input class="input--log" type="password" matInput />
        </mat-form-field>

        <button>Login</button>
      </form>
    </div>
    <div class="container__login--secund--link">
      <a href="#"> Forgot login or password? </a>

      <span>version 6.01.25</span>
    </div>
  </div>
</div>
