<div class="container__login">
  <div class="container__login--img">
    <img
      src="../../../../assets/login/login--descktop.jpeg"
      alt="imagem de um homem no telefone"
      class="login--img--descktop"
      />
    <img src="../../../../assets/login/login--mobile.jpeg" class="login--img--mobile" alt="imagem de predios">
    <div class="login--img--link">
      <i class="material-icons">
        north_west
      </i>
      <a href="#">Visite our website</a>
    </div>
  </div>

  <div class="container__login--form">
    <div class="container__login--link">
      <p>Do you dont't have account?</p>
      <a routerLink="/sing-in" class="login--link"
        >Register now
        <i class="material-icons"> north_east </i>
      </a>
    </div>
    <div class="container__login--logo">
      <img
        src="../../../../assets/logos/2btrust-dark-logo.png"
        alt="logo da 2btrust"
      />
    </div>
    <div class="container__login--formulario">
      <p class="login--p">Acesse sua conta na 2B.</p>

      <form class="login--form">
        <div class="form__input--login">
          <input type="text" class="login--input" required />
          <label for="" class="login--label">Login</label>
        </div>
        <div class="form__input--login">
          <input type="password" class="login--input" required />
          <label for="" class="login--label">Senha</label>
        </div>
        <button class="botao--login">
          enter

          <i class="material-icons"> north_east </i>
        </button>
      </form>
    </div>
    <div class="container__login--link--mobile">
      <a routerLink="/sing-in"class="login--link"
        >Register now
        <i class="material-icons"> north_east </i>
      </a>
    </div>
    <div class="container__login--secund--link">
      <a href="#"> Forgot login or password? </a>
      <span>version 5.01.25</span>
    </div>
  </div>
</div>
