
.container__login{
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.container__login--img{
  width: 50%;
  position: relative;
}

.login--img--mobile{
  display: none;
}
.login--img--link {
  color: #fff;
  width: 30%;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 15;
  left: 10%;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.281)
}
.login--img--link a{
  color: #fff;

}

.container__login--img img{
  width: 100%;
  height: 100vh;
}
.container__login--form{
  position: absolute;
  right: 0;
  height: 100vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  justify-content: space-evenly;
}
.container__login--link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(155, 155, 155);
}

.login--link{
  display: flex;
  align-items: center;
  height: 15px;
  margin-left: 15px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 50px;
  padding: 10px 30px;
  text-decoration: none;
  color: rgb(155, 155, 155);
}

.login--link i {
  margin-left: 5px;
}

.container__login p{
  padding-top: 10px;
}

.container__login--logo{
  width: 60%;
}

.container__login--formulario{
  width: 60%;
}

.login--p{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 45px;
  color: #11235B;
}
.login--form{
  display: flex;
  flex-direction: column;
}
.form__input--login{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;

}

.botao--login{
  border: none;
  height: 35px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
  background-color: #1DECEA;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  transition: all 0.8s ease-in-out;
}
.botao--login:hover{
  background-color: #11235B;
}

.form__input--login input{
  display: block;
  outline: none;
  padding: 10px 25px;
  border: none;
  border-bottom: 1px solid rgb(170, 169, 169)!important;
  font-size: 1.3em;
  color: #11235B;
  font-weight: bold;

}
.form__input--login label{
  position: absolute;
  top: 0;
  left: 15px;
  pointer-events: none;
  color: rgb(170, 169, 169);
  transform: translateY(15px);
  transition: all 400ms ease-in-out;

}

.form__input--login input:focus, .form__input--login input:valid{
  border-bottom-color:  #1DECEA!important;
}

.form__input--login input:valid + label,
.form__input--login input:focus + label{
  color: #1DECEA;
  font-size: 0.8em;
  font-weight: bold;
  transform: translateY(-20px);
}


.container__login--secund--link{
  height: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container__login--secund--link a{
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 100;
  color: rgb(148, 148, 148);


}

.container__login--secund--link span{
  font-size: 0.8em;
  color: rgb(190, 189, 189);
}
.container__login--link--mobile{
    display: none;
}


@media (max-width: 820px){
  .container__login{
    flex-direction: column;
  }
  .container__login--img{
    width: 100%;
    height: 50vh;
  }
  .login--img--descktop{
    display: none;
  }
  .login--img--mobile{
    display: block;


  }
  .container__login--form{
    position: inherit;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: none;
    height: 50vh;
    width: 100%;
    padding: 45px 0px;

  }
  .container__login--link{
    display: none;
  }
  .container__login--logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container__login--formulario{
    text-align: center;
  }

  .container__login--link--mobile{
    margin: 15px 0px;
    width: 50%;
    display: block;
  }
  .login--link{
    display: flex;
    justify-content: space-between;
  }

}

@media (max-width: 500px){
  .login--p{
    font-size: 1.5em;
    margin-bottom: 5px;

  }
  .container__login--logo img{
    height: 50px;
  }
  .container__login--form{
    height: 65vh;
    border-bottom-left-radius: 0px;
  }

  .container__login--formulario{
    padding: 15px 0px;
  }

  .login--p{
    margin-bottom: 45px;
  }
  .form__input--login{
    margin-bottom: 45px;
  }

  .form__input--login input{
    font-size: 1.0em;

  }

  .botao--login{
    margin-top: 15px;
    padding: 0px 15px;

  }

  .container__login--link--mobile{
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .login--link{
    margin-left: 0px;
    width: 65%;
    padding: 8px 15px;

  }

  .container__login--img img{
    height: 130%;
  }
  .login--img--link{
    top: 10%;
    width: 50%;
  }
}
